
## <summary>policy for nadir</summary>


########################################
## <summary>
##	Transition to nadir.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`nadir_domtrans',`
	gen_require(`
		type nadir_t, nadir_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, nadir_exec_t, nadir_t)
')


########################################
## <summary>
##	Execute nadir server in the nadir domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nadir_initrc_domtrans',`
	gen_require(`
		type nadir_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, nadir_initrc_exec_t)
')


########################################
## <summary>
##	Search nadir lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nadir_search_lib',`
	gen_require(`
		type nadir_var_lib_t;
	')

	allow $1 nadir_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read nadir lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nadir_read_lib_files',`
	gen_require(`
		type nadir_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, nadir_var_lib_t, nadir_var_lib_t)
')

########################################
## <summary>
##	Manage nadir lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nadir_manage_lib_files',`
	gen_require(`
		type nadir_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, nadir_var_lib_t, nadir_var_lib_t)
')

########################################
## <summary>
##	Manage nadir lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nadir_manage_lib_dirs',`
	gen_require(`
		type nadir_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, nadir_var_lib_t, nadir_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a nadir environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`nadir_admin',`
	gen_require(`
		type nadir_t;
		type nadir_initrc_exec_t;
		type nadir_var_lib_t;
	')

	allow $1 nadir_t:process { ptrace signal_perms };
	ps_process_pattern($1, nadir_t)

	nadir_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 nadir_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, nadir_var_lib_t)

')

